body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

#nav-bar{
    width: 100%;
    height: 70px;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #222358;
    box-shadow: 2px 2px 15px #DADADA;
    padding: 0px 7%;
}

nav ul{
    display: flex;
}

.toggle{
    display: none;
}

nav ul li a{
    margin: 30px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

a:hover{
    transition: 0.5s;
    color: tomato;
}

.logo{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
span{
    color: tomato;
}

h1{
    font-size: 45px;
    line-height: 1.4;
    font-weight: bolder;
    color: #252F55;
}

h2{
    font-size: 35px;
    font-weight: 700;
    color: #252F55;
}

h3{
    font-size: 25px;
    font-weight: 700;
    color: #252F55;
}

.half-width p{
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    color: #3D4668;
}

.flexible-container{
    display: flex;
    margin-bottom: 80px;
}

.half-width{
    width: 50%;
    padding: 0 7%;
    align-items: center;
    margin-top: 50px;
    
}

.half-width img{
    width: 100%;
}

.orage-color{
    color: #FF834C;
}

#top-align{
    margin-top: 100px;
}

.order-button{
    text-decoration: none;
    background-image: linear-gradient(to right, #FE8A55, #F74D00);
    color: white;
    font-size: 13px;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 30px;
    box-shadow: 5px 5px 20px #FFC0A4;
}

.about-me{
    background-image: url(images/shapes/7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-me img{
    width: 90%;
}
#my-recipe{
    text-align: center;
}

.recipe-about{
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    color: #3D4668;
}

.recipies-flexible{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
}

.recipe-item{
    width: 23%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0px 5px 25px #DEDEDE;
    border: 20px solid white;
    border-radius: 20px;
}

.recipe-item img{
    width: 100%;
    border-radius: 20px;
    width: 100%;
    height: 200px;
}

.recipe-item p{
    font-size: 14px;
    font-weight: 500;
    color: #3D4668;
    line-height: 25px;
    margin-top: -15px;
}

.delivery-container{
    background-color: #FBFBFB;
}

.delivery-flexible{
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
}

.delivery-triple-width{
    width: 23%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 20px 0px;
}

.delivery-triple-width img{
    width: 30%;
    margin-top: 5%;
}

.delivery-triple-width p{
    font-size: 14px;
    line-height: 23px;
    color: #3D4668;
    font-weight: 500;
}

.social-area{
    display: flex;
    width: 90%;
    height: 250px;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    box-shadow: 0px 5px 30px #DEDEDE;
    border-radius: 15px;
    margin-bottom: 100px;
}

.social-info{
    width: 20%;
    text-align: center;
    padding-top: 40px;
    margin-left: 5%;
    margin-right: 5%;

}

.social-media-name{
    font-size: 14px;
    text-align: center;
    color: #3D4668;
    margin: -30px 0px;
    padding-left: 25px;
}

#bottom-bg{
    height: 200px;
    background-color: #1C2257;
}

footer{
    text-align: center;
    padding-top: 20px;
    
}
.footer-uppercase{
    text-transform: uppercase;
    color: #998986;
}
.footer-text{
    color: #E5E2E1;
    font-size: 14px;
    font-weight: 400;
}